<hr id="donation_bar">

<img class="logo" src="LiftRocketLogo.png" width="200" height="40" alt="LiftRocket &trade; logo">

<h3 class="donation_heading">Help us support the LiftRocket &trade; mission with a community contribution. (Your donations help keep us around and support Boost grants to deserving members.)</h3>

<label class="labels">$10</label>
<button type="button" id="btn1" style="color:#03143C">Sounds Good!</button><br>
<label class="labels1">$5</label>
<button type="button" id="btn1" style="color:#03143C">I can do that!</button><br>
<label class="labels2">Not now.</label>
<button type="button" id="btn1" style="color:#03143C">Ask me later!</button><br>
